@import '~antd/dist/antd.css';

.App {
  background-image: url('./image/Background.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

::-webkit-scrollbar {
  width: 1vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(114, 157, 244)),
									   color-stop(0.72, rgb(46, 90, 145)),
									   color-stop(0.86, rgb(6, 18, 53)));
}

.App .ant-card {
  color: rgb(234, 234, 234);
  width: 100%;
  max-width: 850px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}


.ant-form-inline .ant-form-item {
  margin-bottom: 20px;
}